<header>
  <h1>St. Andrew's Welcomes You!</h1>
</header>

<section class="baptism-by-fire">
  <div class="container">
    <div class="column column--photo"></div>
    <div class="column">
      <h2>Baptism by Fire</h2>
      <p>St. Andrew's has grit. We were born as a mission in 1890, came of age during the Great Depression, saw our first home burn to the ground, managed to build part of a new one, expanded as our parish grew with the post-war boom, renovated once, and then again. We survived shattering social change and controversy in the world and in our worldwide church. We shrank as modern-day sons and daughters abandoned organized religion. Now we expand again, as new families come to us, drawn to our singular warmth and vitality. </p>
    </div>
  </div>
</section>

<section class="via-media">
  <div class="container">
    <div class="column">
      <h2>The Via Media</h2>
      <p>St. Andrew’s parish embodies the Anglican Via Media — the middle way. We represent almost every class, education level, profession, theological belief, political viewpoint, social and cultural preference that can be documented. We are neither city nor suburb –– just urban. We are firmly conservative and passionately liberal and somewhere in between; yet we come together each week in welcoming, affectionate communion. We recognize that worshipping together connects us to God, whereas contention and intolerance can only separate us.</p>
    </div>
    <div class="column column--photo"></div>
  </div>
</section>

<section class="hero hero--worship">
  <div class="container">
    <h2>Worship</h2>
  </div>
</section>

<section class="worship">
  <div class="container">
    <div class="row">
      <div class="column column--photo"></div>
      <div class="column">
        <p>Our love for our rich liturgy unites us. We celebrate the Holy Eucharist each Sunday – Rite I, without music, at 8:00 AM and Rite II, Solemn Chorale, at 10:00 AM — and on holy days and saints’ anniversaries as they occur during the week. The flock of acolytes, the lectors and vested servers, the verger, the bells, incense, and asperges: this modest pageantry, “high church” to some, fills us with thankfulness and joy. The straightforward, largely unembellished architecture of the nave emphasizes the bright, moving beauty at the altar.</p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p>Music is led by an adult choir, a new electronic organ, and a Mehlin and Sons grand piano. Our music director is the director of the Toledo Symphony School of Music. We use the 1982 Hymnal and Lift Every Voice and Sing 2 and welcome performances by classical and contemporary musicians. We may well introduce new hymnody, both more ancient and more contemporary, as we reflect the tastes and preferences of our growing congregation.</p>
      </div>
      <div class="column column--photo"></div>
    </div>

    <div class="row">
      <div class="column column--photo"></div>
      <div class="column">
        <p>Our rectors have set a high homiletic bar. We have grown accustomed to succinct, carefully crafted, lectionary-based sermons that offer insight into how our faith can guide us as we wrestle with the choices and conundrums in our lives. There is never haranguing or advocacy for any secular cause.</p>
      </div>
    </div>
  </div>
</section>
