<header>
  <h1>St. Andrew's Welcomes You!</h1>
</header>

<section class="baptism-by-fire">
  <div class="container">
    <div class="column column--photo"></div>
    <div class="column">
      <h2>Baptism by Fire</h2>
      <p>St. Andrew's has grit. We were born as a mission in 1890, came of age during the Great Depression, saw our first home burn to the ground, managed to build part of a new one, expanded as our parish grew with the post-war boom, renovated once, and then again. We survived shattering social change and controversy in the world and in our worldwide church. We shrank as modern-day sons and daughters abandoned organized religion. Now we expand again, as new families come to us, drawn to our singular warmth and vitality. </p>
    </div>
  </div>
</section>

<section class="via-media">
  <div class="container">
    <div class="column">
      <h2>The Via Media</h2>
      <p>St. Andrew’s parish embodies the Anglican Via Media — the middle way. We represent almost every class, education level, profession, theological belief, political viewpoint, social and cultural preference that can be documented. We are neither city nor suburb –– just urban. We are firmly conservative and passionately liberal and somewhere in between; yet we come together each week in welcoming, affectionate communion. We recognize that worshipping together connects us to God, whereas contention and intolerance can only separate us.</p>
    </div>
    <div class="column column--photo"></div>
  </div>
</section>

<section class="hero hero--worship">
  <div class="container">
    <h2>Worship</h2>
  </div>
</section>

<section class="worship">
  <div class="container">
    <div class="row">
      <div class="column column--photo"></div>
      <div class="column">
        <p>Our love for our rich liturgy unites us. We celebrate the Holy Eucharist each Sunday – Rite I, without music, at 8:00 AM and Rite II, Solemn Chorale, at 10:00 AM — and on holy days and saints’ anniversaries as they occur during the week. The flock of acolytes, the lectors and vested servers, the verger, the bells, incense, and asperges: this modest pageantry fills us with thankfulness and joy. The straightforward, largely unembellished architecture of the nave emphasizes the bright, moving beauty at the altar.</p>
      </div>
    </div>

    <div class="row">
      <div class="column column--photo"></div>
      <div class="column">
        <p>Music is led by an adult choir and a music director, a new electronic organ, and a Mehlin and Sons grand piano. We use the 1982 Hymnal and Lift Every Voice and Sing 2 and welcome performances by classical and contemporary musicians. We may well introduce new hymnody, both more ancient and more contemporary, as we reflect the tastes and preferences of our growing congregation.</p>
      </div>
    </div>

    <div class="row">
      <div class="column column--photo"></div>
      <div class="column">
        <p>Our rectors have set a high homiletic bar. We have grown accustomed to succinct, carefully crafted, lectionary-based sermons that offer insight into how our faith can guide us as we wrestle with the choices and conundrums in our lives. There is never haranguing or advocacy for any secular cause.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero hero--stewardship">
  <div class="container">
    <h2>Stewardship</h2>
  </div>
</section>

<section class="stewardship">
  <div class="container">
    <div class="row">
      <div class="column">
        <p>We are not and have never been a wealthy parish. The Annual Budget is based on a realistic estimate of pledge and plate offerings. Church members perform routine cleaning and maintenance. Fundraising events — book sales, bake sales, raffles — take place throughout the year, and a number of programs are funded through grants. Gifts for special projects often come unexpectedly: windfalls of generosity!</p>
      </div>
      <div class="column column--photo"></div>
    </div>
    <div class="row">
      <div class="column">
        <p>St. Andrew’s slim annual resources make it difficult to carry out new outreach and ministries. We need a rector with the confidence to speak frankly and forcefully to the parish about stewardship, as well as the initiative to help us engage even more new parishioners. We are located next to several vintage neighborhoods adjacent to The University of Toledo, all of them full of families ripe for recruitment. </p>
      </div>
      <div class="column column--photo"></div>
    </div>
  </div>
</section>

<section class="toledo">
  <div class="container">
    <div class="column column--photo"></div>
    <div class="column">
      <h2>Northwest Ohio and Toledo</h2>
      <p>Newcomers to Toledo are often surprised at how much they enjoy living in the city and area. There is a comfortable way of life that is neither small town nor big city; Midwestern, but still in the Eastern Time Zone. There are pleasant and affordable neighborhoods. A recent Wall Street Journal blog, in fact, ranked Toledo among the nation's more affordable cities for a family of four, and personal finance advice site Nerdwallet.com placed Toledo among its top 10 metro areas for homebuyers.</p>
      <p><a href="http://toledoregion.com/" target="_blank">Learn more about the Toledo Region »</a></p>
    </div>
  </div>
</section>

<section class="mandate">
  <div class="container">
    <div class="text-wrap">
      <h2>A Miracle and a Mandate</h2>
      <p>In 2014, a group of young Toledo families worshipping together as a house church realized that they wanted to be part of a more formal church community. After prayerful thought and approval by both congregations, they brought themselves, their talent, and their treasure to St. Andrew’s. The introduction of these families into our middle-aged midst was a tipping point. New families continue to join us. Children crowd the aisle. Babies are born and baptized. We are a local phenomenon, an Episcopal church that is growing. It is a kind of miracle, a St. Andrew’s Spring.</p>
      <p>With this miracle comes a mandate: We need to plan. New members of any age bring new expectations to St. Andrew’s. We can't just smile at the enchanting children jumping down the chancel steps, welcome the newcomers who are attracted to our energy, and then continue to carry out our ministry as usual. Nor can we forget the parishioners who have been with us all their very long lifetimes: They will always be loyal to their church, but many of them are uneasy as they feel it change, both at St. Andrew’s and across the world. It will take commitment, expert communication skills, and understanding to engage all of our generations in a planning process that will chart our journey into the next decade.</p>
      <p>We are poised at a really wonderful place in the history of St. Andrew’s: grounded and disciplined by our past; infused now with new energy. We seek a rector who can maintain our warmth and our rich liturgical tradition and at the same time lead us into vigorous new stewardship, spiritual growth, and service.</p>
      <p>We have identified the following characteristics we would most like to see in a new rector:</p>
      <ul>
        <li>Excellent preacher and communicator, broadly educated, sense of humor, engaging.</li>
        <li>Wise counselor and teacher, able to meet the pastoral needs of different generations.</li>
        <li>Leadership skills; entrepreneurial, confident.</li>
        <li>Appreciative of our diversity, our love of liturgy and music, and our faithfulness.</li>
      </ul>
      <h3>We welcome your inquiries!</h3>
    </div>
  </div>
</section>
